/* .footer-footer{
    width: 90vw;
} */


.cp {
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
}

.footer-headers{
    border-bottom: 1px rgb(201, 198, 198) solid;
    width: 90% ;
    padding-bottom: 20px;
    text-transform: uppercase;
}


.footer-list{
    padding-top: 20px;
    text-decoration: none;
    /* list-style: none; */
}

.footer-list a {
    text-decoration: none !important;
    color: #212529;
    cursor: pointer;
}

#cdac_map {
    max-width: 250px;
    height: 200px;
}