/* 
  todo block 
  ----------
  */
.todoBlock {
  /* padding: 30px; */
  margin-top: 10px;
  /* background: #fff; */
  /* box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.2); */
}

.todoBlock .titleHolder {
  margin: 0 0 30px;
}

/* 
    list holder
    -----------
    */
.listHolder li {
  counter-increment: step-counter;
  overflow: hidden;
  padding: 0 0 20px 30px;
  position: relative;
  cursor: pointer;
}

.listHolder li:before {
  content: counter(step-counter);
  background: #4ac7be;
  color: #fff;
  font-size: 14px;
  padding: 0px 6px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

.listHolder .listName {
  float: left;
}

.listHolder .btn-icon {
  float: right;
  margin: 0 0 0 20px;
}


/* #HPC-todo {
    display: none;
} */