<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand d-md-none" href="/index.aspx"><img src="cdac_logo.jpg" class="img-fluid"
          style="height: 30px;width: 30px;"></a>
      <a class="navbar-brand d-md-block d-sm-none d-none"><img src="navlogo.png" class="img-fluid"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navba"
        aria-controls="navba" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navba">
        <ul class="navbar-nav text-uppercase">
          <li class="nav-item">
            <a class="nav-link active" href="/index.aspx" aria-current="page"><i class="fa-solid fa-house"
              id="home-icon"></i>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/index.aspx?id=about">About Us</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/index.aspx?id=products_services" " >Products &amp; Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/index.aspx?id=research">R&amp;D </a>

          </li>
          <li class="nav-item">
            <a class="nav-link " href="/index.aspx?id=alliance ">Alliance</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/index.aspx?id=career">Careers</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/index.aspx?id=contact">Contact Us</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>