.row {
  height: 100%;
}

.sidebar {
  background-color: blanchedalmond;
  min-height: 100vh;
  height: 100%;
  /* min-width: 100%; */
}

.pdfpage {
  background-color: darkgray;
  min-height: 100vh;
  width: auto;
}

.accordion {
  margin-top: 20px;
  width: auto !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}

/* demo2 styles */

.items {
  /* width: 300px; */
  border-radius: 5px;
  background: #fffffe;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-top: 10px solid #0b5aa2;
  margin-top: 20px;
}

/* .items-head p {
    padding: 5px 20px;
    margin: 10px;
    color: #0B5AA2;
    font-weight: bold;
    font-size: 20px;
  }
  
  .items-head hr {
    width: 20%;
    margin: 0px 30px;
    border: 1px solid #0B5AA2;
  } */

.items-body {
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-gap: 10px;
}

.items-body-content {
  padding: 10px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: 10fr 1fr;
  font-size: 13px;
  grid-gap: 10px;
  border: 1px solid transparent;
  cursor: pointer;
}


.items-body-content:hover {
  border-radius: 15px;
  border: 1px solid #0b5aa2;
}

.items-body-content i {
  align-self: center;
  font-size: 15px;
  color: #0b5aa2;
  font-weight: bold;
  animation: icon 1.5s infinite forwards;
}



@keyframes icon {
  0%,
  100% {
    transform: translate(0px);
  }
  50% {
    transform: translate(3px);
  }
}

/* ------------------- */

.videoPlayer {
  margin-top: 10px;
  height: 60vh;
  width: 100%;
}


/* Demo3 */

.listItemsMain {
  /* width: 300px; */
  border-radius: 5px;
  background: #fffffe;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* border-top: 10px solid #0b5aa2; */
  margin-top: 20px;
}

.listItems {
  /* padding: 10px; */
  /* padding-right: 0px; */
  display: grid;
  grid-template-columns: 1fr 10fr;
  font-size: medium ;
  font-weight: normal;
  grid-gap: 10px;
  /* border: 1px solid transparent; */
  cursor: pointer;
}

.listItems:hover {
  border-radius: 5px;
  border: 1px solid black;
}


.list-sidebar i {
  align-self: center;
  font-size: 15px;
  color: green;
  font-weight: bold;
  animation: icon 1.5s infinite forwards; 
}
