<section id="content">
    <div class="container-fluid sp-th">
    
       <div class="row-1">			
          <div class="pb-1 text-uppercase sec_title aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
              <h2>Thematic Area</h2>
          </div>
          </div>
       
 <!--	For Mobile-->
       <div class="container-fluid d-lg-none mt-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
             <div class="row tha text-center">	
                   
                      <div class="col-6 pb-2 pt-2"><a href="/index.aspx?id=hgc">
                         <div class="card shadow">
                           <div class="card-body">
                            <p class="card-text"><i class="fa-solid fa-cloud fa-2x  fbg-icon"></i> <br> <span class="fbg-text">High Performance Computing</span></p>
                           </div>
                         </div></a>
                      </div>
                      
                      <div class="col-6 pb-2 pt-2"><a href="/index.aspx?id=mlingual_heritage">
                         <div class="card shadow">
                           <div class="card-body">
                            <p class="card-text"><i class="fa-solid fa-language fa-2x  fbg-icon"></i> <br> <span class="fbg-text">Multilingual &amp; Heritage Computing</span></p>
                           </div>
                         </div></a>
                      </div>
                      
                      
                      <div class="col-6 pb-2 pt-2"><a href="/index.aspx?id=professional_electronics">
                         <div class="card shadow">
                           <div class="card-body">
                            <p class="card-text"><i class="fa-solid fa-microchip fa-2x  fbg-icon"></i> <br> <span class="fbg-text">Strategic Electronics</span></p>
                           </div>
                         </div></a>
                      </div>
                      
                      <div class="col-6 pb-2 pt-2"><a href="/index.aspx?id=soft_tech">
                         <div class="card shadow">
                           <div class="card-body">
                            <p class="card-text"><i class="fa-solid fa-compact-disc fa-2x  fbg-icon"></i> <br> <span class="fbg-text">Software Technologies</span></p>
                           </div>
                         </div></a>
                      </div>
                      
                      <div class="col-6 pb-2 pt-2"><a href="/index.aspx?id=cyber_security">
                         <div class="card shadow">
                           <div class="card-body">
                            <p class="card-text"><i class="fa-solid fa-shield-halved fa-2x  fbg-icon"></i> <br> <span class="fbg-text">Cyber Security &amp; Forensics</span></p>
                           </div>
                         </div></a>
                      </div>
                      
                      <div class="col-6 pb-2 pt-2"><a href="/index.aspx?id=quantum_computing">
                         <div class="card shadow">
                           <div class="card-body">
                            <p class="card-text"><i class="fa-solid fa-atom fa-2x  fbg-icon"></i> <br> <span class="fbg-text">Quantum Computing</span></p>
                           </div>
                         </div></a>
                      </div>
                      
                      <div class="col-6 pb-2 pt-2"><a href="/index.aspx?id=health_info">
                         <div class="card shadow">
                           <div class="card-body">
                            <p class="card-text"><i class="fa-solid fa-suitcase-medical fa-2x  fbg-icon"></i> <br> <span class="fbg-text">Health Informatics</span></p>
                           </div>
                         </div></a>
                      </div>
                      
                      <div class="col-6 pb-2 pt-2"><a href="/index.aspx?id=education_training">
                         <div class="card shadow">
                           <div class="card-body">
                            <p class="card-text"><i class="fa-solid fa-graduation-cap fa-2x  fbg-icon"></i> <br> <span class="fbg-text">Education &amp; Training</span></p>
                           </div>
                         </div></a>
                      </div>
                      
                      
                   </div>
                   
             </div>	
       
    <!--	For Mobile-->	
       
       
       
       
       
       <div class="row px-5 d-lg-block d-sm-none d-none aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">	
          
       
       <div class="d-flex align-items-start py-2 my-5">
         <div class="v-nav flex-column  me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        
         <ul class="listing">
          <li><a class="nav-link" id="v-pills-hpc-tab" data-bs-toggle="pill" data-bs-target="#v-pills-hpc" type="button" role="tab" aria-controls="v-pills-hpc" aria-selected="false" tabindex="-1">
          
            <div class="row align-items-start">
             <div class="col-2 py-2 cloud">
               <i class="fa-solid fa-cloud fa-2x"></i>
             </div>
             <div class="col-auto py-2 tab-link-text">
               High Performance Computing
             </div>
            </div></a></li>
          
          <li><a class="nav-link" id="v-pills-pro-tab" data-bs-toggle="pill" data-bs-target="#v-pills-pro" type="button" role="tab" aria-controls="v-pills-pro" aria-selected="false" tabindex="-1">
            <div class="row align-items-start">
             <div class="col-2 py-2 pro">
               <i class="fa-solid fa-microchip fa-2x"></i>
             </div>
             <div class="col-auto py-2 tab-link-text">
               Strategic Electronics
             </div>
            </div>
             </a>	</li>
          
          <li><a class="nav-link" id="v-pills-mlingual-tab" data-bs-toggle="pill" data-bs-target="#v-pills-mlingual" type="button" role="tab" aria-controls="v-pills-mlingual" aria-selected="false" tabindex="-1">
             <div class="row align-items-start">
                <div class="col-2 py-2 mlingual">
                  <i class="fa-solid fa-language fa-2x"></i>
                </div>
                <div class="col-auto tab-link-text">
                  Multilingual &amp; Heritage<br>Computing
                </div>
            </div>
             </a>	</li>
          
          
          <li><a class="nav-link" id="v-pills-soft-tab" data-bs-toggle="pill" data-bs-target="#v-pills-soft" type="button" role="tab" aria-controls="v-pills-soft" aria-selected="false" tabindex="-1">
          <div class="row align-items-start">
                <div class="col-2 py-2 soft">
                  <i class="fa-solid fa-compact-disc fa-2x"></i>
                </div>
                <div class="col-auto py-2 tab-link-text">
                  Software Technologies
                </div>
            </div>
             </a>	</li>
          
          
          <li><a class="nav-link" id="v-pills-cyber-tab" data-bs-toggle="pill" data-bs-target="#v-pills-cyber" type="button" role="tab" aria-controls="v-pills-cyber" aria-selected="false" tabindex="-1">
          <div class="row align-items-start">
                <div class="col-2 py-2 cyber">
                  <i class="fa-solid fa-shield-halved fa-2x"></i>
                </div>
                <div class="col-auto py-2 tab-link-text">
                  Cyber Security &amp; Forensics
                </div>
            </div>
             </a>	</li>
          
          <li><a class="nav-link active" id="v-pills-atom-tab" data-bs-toggle="pill" data-bs-target="#v-pills-atom" type="button" role="tab" aria-controls="v-pills-atom" aria-selected="true">
          <div class="row align-items-start">
                <div class="col-2 atom">
                  <i class="fa-solid fa-atom fa-2x"></i>
                </div>
                <div class="col-auto py-1 tab-link-text">
                  Quantum Computing
                </div>
            </div>
             </a>	</li>
          
          
          <li><a class="nav-link" id="v-pills-health-tab" data-bs-toggle="pill" data-bs-target="#v-pills-health" type="button" role="tab" aria-controls="v-pills-health" aria-selected="false" tabindex="-1">
          <div class="row align-items-start">
                <div class="col-2 medical">
                  <i class="fa-solid fa-suitcase-medical fa-2x"></i>
                </div>
                <div class="col-auto py-1 tab-link-text">
                  Health Informatics
                </div>
            </div>
             </a>	</li>
             
          
          <li><a class="nav-link" id="v-pills-edu-tab" data-bs-toggle="pill" data-bs-target="#v-pills-edu" type="button" role="tab" aria-controls="v-pills-edu" aria-selected="false" tabindex="-1">
          <div class="row align-items-start">
                <div class="col-2 edu">
                  <i class="fa-solid fa-graduation-cap fa-2x"></i>
                </div>
                <div class="col-auto py-1 tab-link-text">
                  Education &amp; Training
                </div>
            </div>
             </a>	</li>
                
       </ul>
          
         </div>
         <div class="tab-content v-content" id="v-pills-tabContent">
          <div class="tab-pane fade" id="v-pills-hpc" role="tabpanel" aria-labelledby="v-pills-hpc-tab" tabindex="0">
             <div class="tab-text-area hpc">
                <h5 class="cloud"><i class="fa-solid fa-cloud fa-1x px-2"></i> High Performance Computing </h5>
                
                <p class="py-3 px-1">High Performance Computing (HPC) plays an important role in both scientific advancement and economic competitiveness of a nation - making production of scientific and industrial solutions faster, less expensive, and of higher quality. HPC is a key component in many applications: designing vehicles and airplanes; designing high-rise buildings and bridges; discovery of drugs; discovery and extraction of new energy sources like oil and natural gas; weather forecasting; and many more.</p>
                
                <ul>
                   <li>Applications</li>
                   <li>Cloud Computing</li>
                   <li>Grid Computing</li>
                   <li>National Supercomputing Facilities</li>
                   <li>Supercomputing Solutions</li>
                   <li>Supercomputing Systems</li>
                </ul>
                
                <p class="my-5 mx-2"><a href="/index.aspx?id=hgc" class="btn btn-warning shadow border border-2 border-white rounded-2">Read More..</a></p>
                
             </div>
          </div>
          
          <div class="tab-pane fade" id="v-pills-pro" role="tabpanel" aria-labelledby="v-pills-pro-tab" tabindex="0">
             <div class="tab-text-area pro-bg">
                <h5 class="pro"><i class="fa-solid fa-microchip fa-1x px-2"></i> Strategic Electronics</h5>
                <p class="py-3 px-1">C-DAC has expertise in the design of VLSI Systems, ASIC IP development, microprocessor, microcontroller and DSP hardware and software technologies, which form the key building blocks in many industrial and strategic technology areas. C-DAC has designed, deployed and transferred manufacturing technology for numerous large scale electronics systems as well as small footprint VLSI and Embedded System Products for applications ranging from Supercomputing, Energy Measurement, Personal Computing, Medical appliances, Power and Process control, Wireless Broadband, Sonar and Acoustic detection, etc., for a range of verticals such as railways, steel, power generation, defense, health-care, police, broadcast media and many more. Transfers of Technology for large scale manufacturing have proved the commercial viability of these products time and again.</p>
                
                <ul>
                   <li>Augmented Reality (AR)</li>
                   <li>Smart Card Technologies</li>
                   <li>High Speed Networking </li>
                   <li>Medical Electronics</li>
                   <li>Ubiquitous Computing</li>
                   <li>Internet of Things (IOT)</li>
                   <li>Power Electronics</li>
                   <li>Strategic Electronics Systems</li>
                   <li>Intelligent Transportation Systems </li>
                   <li>Agriculture and Environmental Electronics</li>
                </ul>
                
                <p class="my-5 mx-2"><a href="/index.aspx?id=professional_electronics" class="btn btn-warning shadow border border-2 border-white rounded-2">Read More..</a></p>
                
             </div>
          </div>
          
          <div class="tab-pane fade" id="v-pills-mlingual" role="tabpanel" aria-labelledby="v-pills-mlingual-tab" tabindex="0">
             <div class="tab-text-area lingual-bg">
                <h5 class="mlingual"><i class="fa-solid fa-language fa-1x px-2"></i> Multilingual &amp; Heritage Computing</h5>
                <p class="py-3 px-1">India is a unique country in the world having 22 scheduled languages besides heritage languages and over one hundred widely used languages with different scripts. Despite a very impressive growth of computers and the Internet over the past few decades, most of the content on the Internet and most of the ICT based solutions in India are still available only in English. This is in stark contrast to the ground reality as hardly 10% of Indians use English as a language for communication. C-DAC realized long ago that penetration of IT to masses is possible in India only if we develop tools and technologies to overcome this language barrier. Hence, for over the last 25 years, C-DAC has been pursuing pioneering research in Language Technology and Heritage Computing.</p>
                <ul>
                   <li>Multilingual Computing</li>
                   <li>Heritage Computing</li>
                </ul>
                <p class="my-5 mx-2"><a href="/index.aspx?id=mlingual_heritage" class="btn btn-warning shadow border border-2 border-white rounded-2">Read More..</a></p>					
             </div>
          </div>
          
          <div class="tab-pane fade" id="v-pills-soft" role="tabpanel" aria-labelledby="v-pills-soft-tab" tabindex="0">
             <div class="tab-text-area soft-bg">
                <h5 class="soft"><i class="fa-solid fa-compact-disc fa-1x px-2"></i> Software Technologies</h5>
                <p class="py-3 px-1">The objective of C-DAC in software technology research is to foster R &amp; D activities in the following sub-domains of software technologies: - Software-Intensive Systems Engineering, Emerging Software Technologies, Distributed Systems and Database Technology.</p>
                <p class="px-1">C-DAC focuses research in software technologies under the following major areas:</p>
                
                <ul>
                   <li>Free/Open Source Software</li>
                   <li>e-Governance and m-Governance</li>
                   <li>Emerging Solutions &amp; E-Governance </li>
                   <li>ICT Solutions for Social Development</li>
                   <li>E-Learning</li>
                   <li>Aadhaar Based Authentication and e-KYC</li>
                </ul>
                <p class="my-5 mx-2"><a href="/index.aspx?id=soft_tech" class="btn btn-warning shadow border border-2 border-white rounded-2">Read More..</a></p>
             </div>
          </div>
          
          <div class="tab-pane fade" id="v-pills-cyber" role="tabpanel" aria-labelledby="v-pills-cyber-tab" tabindex="0">
             <div class="tab-text-area cyber-bg">
                <h5 class="cyber"><i class="fa-solid fa-shield-halved fa-1x px-2"></i>  Cyber Security &amp; Forensics</h5>
                <p class="py-3 px-1">Increased Internet penetration has given exponential rise in sophisticated attacks on Information Technology (IT) infrastructure. Attackers are gaining access to sensitive information like credit card details and other financial information. Smartphone attacks are growing in multiple folds. Also with the growth of 3G services and business transactions using mobile phones, there is a substantial increase in mobile malware. In order to make our IT infrastructure resilient against these threats, there is a need for cutting-edge Research and Development efforts in Cyber Security. C-DAC has been actively pursuing R &amp; D in a number of sub-areas in Cyber Security domain.</p>
                
                <ul>
                   <li>Biometrics</li>
                   <li>Cyber Forensics</li>
                   <li>End Point Security </li>
                   <li>Mobile and Web Security</li>
                   <li>SCADA Security</li>
                   <li>Network Security</li>
                   <li>Honeynet Technologies</li>
                   <li>SOC- as-a-Service</li>
                </ul>
                <p class="my-5 mx-2"><a href="/index.aspx?id=cyber_security" class="btn btn-warning shadow border border-2 border-white rounded-2">Read More..</a></p>
             </div>
          </div>
          
          <div class="tab-pane fade active show" id="v-pills-atom" role="tabpanel" aria-labelledby="v-pills-atom-tab" tabindex="0">
             <div class="tab-text-area atom-bg">
                <h5 class="atom"><i class="fa-solid fa-atom fa-1x px-2"></i>  Quantum Computing</h5>
                <p class="py-3 px-1">High Performance Computing (HPC) plays an important role in both scientific advancement and economic competitiveness of a nation - making production of scientific and industrial solutions faster, less expensive, and of higher quality. HPC is a key component in many applications: designing vehicles and airplanes; designing high-rise buildings and bridges; discovery of drugs; discovery and extraction of new energy sources like oil and natural gas; weather forecasting; and many more.</p>
                
                <p class="my-5 mx-2"><a href="/index.aspx?id=quantum_computing" class="btn btn-warning shadow border border-3 border-white rounded-1">Read More..</a></p>
             </div>
          </div>
          
          <div class="tab-pane fade" id="v-pills-health" role="tabpanel" aria-labelledby="v-pills-health-tab" tabindex="0">
             <div class="tab-text-area medical-bg">
                <h5 class="medical"><i class="fa-solid fa-suitcase-medical fa-1x px-2"></i>  Health Informatics</h5>
                <p class="py-3 px-1">Health Informatics technologies help to improve quality of healthcare, reduce medical errors, reduce healthcare costs, increase administrative efficiency, and expand access to affordable healthcare. C-DAC has developed several technologies and software/hardware solutions in this area; many of which are deployed and are being used in practice.</p>
                
                <ul>
                   <li>Hospital Information Systems</li>
                   <li>Drug Management System</li>
                   <li>Telemedicine Solutions</li>
                   <li>Healthcare Standards</li>
                   <li>Decision Support Systems</li>
                   <li>Mobile Healthcare Solutions</li>
                   <li>EHR/EMR Systems</li>
                </ul>
                
                <p class="my-5 mx-2"><a href="/index.aspx?id=health_info" class="btn btn-warning shadow border border-2 border-white rounded-2">Read More..</a></p>
             </div>
          </div>
          
          <div class="tab-pane fade" id="v-pills-edu" role="tabpanel" aria-labelledby="v-pills-edu-tab" tabindex="0">
             <div class="tab-text-area edu-bg">
                <h5 class="edu"><i class="fa-solid fa-graduation-cap fa-1x px-2"></i>  Education &amp; Training</h5>
                <p class="py-3 px-1">C-DAC's Education and Training programmes are aimed at creating skilled manpower in the country by providing quality training programmes in the field of Electronics and ICT. This activity started almost two decades ago with a humble beginning of training about 20 students per year, but has today grown to an extent of training more than 5000 students per year. It also grew from just one training centre to about 50 training centres across India and has even made its presence in several countries abroad. In addition to conducting wide range of training programmes in the areas of Information, Communication and Electronics technologies, C-DAC also develops ICT tools and technologies for modern methods of imparting education and training to masses. The Education and Training activities of C-DAC are governed and steered by Academic Council (AC) and Academic Management Committee (AMC).</p>
                <p class="px-1">Presently, C-DAC offers its various training programmes through its own training centres in Bengaluru, Chennai, Hyderabad, Kolkata, Mohali, Mumbai, Noida, Pune and Thiruvananthapuram, and its network of Authorised Training Centres (ATC) spread across the country.</p>					
                <p class="px-1">The various activities under the umbrella of C-DAC's Education and Training Programmes are described below:</p>
                
                <ul>
                   <li>Online Diploma Courses</li>
                   <li>Post Graduate Diploma Programmes</li>
                   <li>Formal Training Programmes </li>
                   <li>PACE
                   </li><li>Corporate Training Programmes</li>
                   <li>International Training Programmes </li>
                   <li>Other Initiatives</li>
                   <li>Education Technologies</li>
                   <li>Academic Collaboration</li>
                </ul>
                
                <p class="my-5 mx-2"><a href="/index.aspx?id=education_training" class="btn btn-warning shadow border border-2 border-white rounded-2">Read More..</a></p>
             </div>
          </div>
          
         </div>
       </div>
   
   
         </div>
   
      </div>
   </section>