/* @media (min-width: 1200px) {
    .container {
      width: 1000px;
    }
  } */


  body {
    /* font-family: 'Inter', sans-serif; */
    /* font-size: 1rem!important; */
}

.top-text{
  font-size: medium;
  /* font-weight: 50 !important; */
}


.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-link {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.55);
}

.welcome_message{

  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;

}

.welcome_paragraph{
  text-align: center;
  /* padding-top: 100px; */
  font-weight: bolder;
  font-size: xx-large;
  color: white;
  /* width: 100%; */
  display: inline;
  border: 2px solid white;
  padding: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.resources {
  font-size: xx-large;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  color: #2e4588!important;
  margin-left: 38px;
}

.nav-seprator {
  border-left: 1px solid #e3e3e3;
}

