* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    /* background: transparent; */
}

.level-1 {
    position: relative;
}
  
/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 80px;
    /* text-decoration: underline; */
    font-size: larger;
    /* right: 0px; */
    left: 600px;
    /* background-color: rgb(10, 10, 10); */
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.image-block {
    position: absolute;
    bottom: 0px;
    right: 0px;
    /* left: 20px; */
    /* background-color: rgb(10, 10, 10); */
    color: white;
    /* padding-left: 20px;
    padding-right: 20px; */
}


/* level 3 design */

.level-3 {
    /* height: 100px; */
}


.ta {
    /* background-color: #e9ecef ; */
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #e9ecef;

    /* height: 100px; */
    /* font-size: 0.8rem; */
}

.cdac-logo {
    height: 100px;
}

a {
    text-decoration: none;
    text-align: center;
    color: #212529 !important;
    font-size: large;
    font-weight: 600;
}

.fth-rborder {
    border-right: #dddddd solid 1px;
}


/* level 4 design */
.level-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 300px);
    margin: 0;
    padding: 0;
    background-color: black;
}

.welcome-message {
    color: white;
    font-size: 50px;

}