/* @media (min-width: 1200px) {
    .container {
      width: 1000px;
    }
  } */

body {
    background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, rgb(116, 118, 121), #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgb(116, 118, 121), #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.welcome_message{

  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;

}

.welcome_paragraph{
  text-align: center;
  /* padding-top: 100px; */
  font-weight: bolder;
  font-size: xx-large;
  color: white;
  /* width: 100%; */
  display: inline;
  border: 2px solid white;
  padding: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.resources {
  font-size: xx-large;
  font-weight: bold;
  color: white;
  /* margin-left: 38px; */
}